@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-size: 100%;
    border: 0px;
    text-decoration: none;
}


.conteudo-cabecalho{
    background-color: rgb(74, 98, 145);
    height: 140px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 3px 4px rgb(255, 123, 0);
}

.conteudo-cabecalho-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.conteudo-cabecalho-titulo{
    font-size: 40px;
    margin-top: 20px;
    color: white;
}
    
span{
    color: rgb(255, 123, 0);
}

.conteudo-cabecalho-navegacao{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 25px;
    
}

.conteudo-cabecalho-navegacao-itens{
    color: white;
    transition: color 0.3s;
}

.conteudo-cabecalho-navegacao-itens:hover{
    color:rgb(255, 123, 0); 
}

.conteudo-principal{
    margin-top: 4px;
    display: flex;
    height: 650px;
    
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    z-index: 1000;
    
}

.conteudo-principal-escrito-titulo{
    font-size: 50px;
    color: rgb(255, 255, 255);
    

}

.conteudo-principal-escrito-paragrafo{
    max-width: 500px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-align: center;

}

.conteudo-rodape{
    background-color:rgb(74, 98, 145) ;
    height: 175px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-rodape-titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-input{
    width: 600px;
    background-color: aliceblue;
    height: 40px;
    border-radius: 5px;

}

.formulario-buttom{
    height: 40px;
    background-color:rgb(255, 123, 0) ;
    border-radius: 5px;
}

.formulario-buttom:hover{
    background-color:rgb(228, 110, 0) ;
}

.bf{
    position: absolute;
    width: 100vw;
    height: 650px;
    filter: blur(0px);
    -webkit-filter: blur(5px);
}

